//colors
$color_chicago_approx: #5a5a5a;
$color_gravel_approx: #494848;
$color_cape_cod_approx: #414040;
$color_early_dawn_approx: #fdf9e6;
$color_zircon_approx: #f7fbff;
$color_alto_approx: #dddddd;
$color_silver_approx: #bdbdbd;
$color_astral_approx: #3276b1;
$color_masala_approx: #3d3d3d;
$red: red;
$color_japanese_laurel_approx: green;
$color_feta_approx: #f2fdee;
$color_bridesmaid_approx: #fdeeee;
$color_black_haze_approx: #f6f6f6;
$color_fuscous_gray_approx: #535353;
$color_masala_approx: #3b3b3b;
$color_snow_drift_approx: #f2fef4;
$white: #ffffff;
$alto: #dbdbdb;
$color_picton_blue_approx: #44bafe;
$color_sea_green_approx: #2e9940;
$color_monza_approx: #e30e0e;
$color_forest_green_approx: #188d2c;
$color_puerto_rico_approx: #44bfae;
$color_red_approx: #e30e01;
$color_pippin_approx: #ffe0e0;
$color_log_cabin_approx: #222222;
$color_gray_nurse_approx: #eae9e9;
$color_rangoon_green_approx: #1d1d1d;
$color_tuatara_approx: #363636;
$color_gravel_approx: #494949;
$black: black;
$color_chicago_approx: #5c5c5c;
$color_coral_red_approx: #ff3b3b;
$color_harlequin_approx: #40fd21;
$color_dove_gray_approx: #6e6c6c;

//fonts
$font_0: fontawesome;
$font_14: 14px;
