/*******************************************************
 * 
 * ----------------------
 * Engine Renderer Styles
 * ----------------------
 *
 * These styles do not include any product-specific branding
 * and/or layout / design. They represent minimal structural
 * SCSS which is necessary for a default rendering of an
 * DND2 activity
 *
 * The styles are linked/depending on the presence of
 * certain elements (classes / ids / tags) in the DOM (as would
 * be injected via a valid DND2 layout HTML and/or dynamically
 * created by the DND2 engine JS)
 *
 *
 *******************************************************/

@import "dnd2_utils";

@mixin change ($color) {
  border: 2px solid $color;
}

$primaryColor: #eeffcc;

%input-style {
    background-color: $primaryColor;
}

#test {
    @extend %input-style;
    span{
    	background-color: rgb(255,192,203);
    	@include change(#ff0000);
    }
}
