@import "../generic/index";

main {
  font-size: $font_14;
  font-family: 'Open Sans', Verdana, sans-serif;
}

.instructions {
  font-size: 1.1em;
  color: $color_chicago_approx;
  margin-bottom: 0.9em;
}

.smart-form {
  line-height: 0.8em;

  ol {
    padding: 0;
  }

  .question-li {
    padding: .7em .4em .7em 1.8em;
    margin-left: 2em;
    color: #666;

    .wrong:before {
      content: "\f00d";
      color: red;
      font-family: $font_0;
      display: block;
      margin: .15em .36em auto -4.5em;
    }

    .correct:before {
      content: "\f00c";
      color: green;
      display: block;
      font-family: $font_0;
      margin: .15em .36em auto -4.5em;
    }
  }

  .question {
    font-weight: normal;
    margin: 0;
    line-height: 1.5em;

    input {
      border-width: 0 0 1px 0;
      outline: none;
      width: 150px;
      text-align: center;
      border-radius: 0;
      display: inline;
    }

    input:disabled {
      opacity: 0.6;
      background: #ffffff;
    }
  }

  .state-success {
    input {
      border-color: #7DC27D;
    }

    input:disabled {
      background: #f0fff0;
    }
  }

  .state-error {
    input {
      border-color: #A90329;
    }

    input:disabled {
      background: #fff0f0;
    }
  }
}

.feedback {
  .alert-success {
    background-color: $color_feta_approx;
  }

  .alert-danger {
    background-color: $color_bridesmaid_approx;
  }
}
